/* Stylesheet for Beautiful Social Web Link */
/***********************************/

/* Feel free to customize this file */

.social-icon-horizontal {
    float: left;
    padding: 5px;
}

.social-icon-single-vertical {
    float: left;
    width: 100%;
    padding: 5px;
}

.social-icon-double-vertical {
    float: left;
    width: 48%;
    padding: 5px 0 5px 0;
    margin: 0 2px 0 2px;
}

.social-icon-img-effect {
    opacity:0.6;
    filter:alpha(opacity=60);
}

.social-icon-img-effect:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}
